In [68]:
import pandas as pd
import pandas_ta as ta
import numpy as np
import matplotlib.pyplot as plt

In [69]:
data = pd.read_csv("/home/linch/CodeSpace/ARTrade/strategy/Demo/BTCUSDT_BINANCE_1m_2024_01_04.csv")

In [70]:
df = pd.DataFrame()

df["Open"] = data["open"]
df["High"] = data["high"]
df["Low"] = data["low"]
df["Close"] = data["close"]
df["Volume"] = data["volume"]
# df.index = data["open_time"]
# df.index = pd.to_datetime(df.index.astype(int) / 1000, unit='s')
df["open_time"] = data["open_time"]
df["open_time"] = pd.to_datetime(df["open_time"].astype(int) / 1000, unit='s')

print(df)

           Open     High      Low    Close   Volume           open_time
0       42314.0  42335.8  42289.6  42331.9  289.641 2024-01-01 00:00:00
1       42331.9  42353.1  42331.8  42350.4  202.444 2024-01-01 00:01:00
2       42350.4  42370.8  42349.6  42360.2  271.521 2024-01-01 00:02:00
3       42360.1  42405.8  42360.1  42405.8  392.238 2024-01-01 00:03:00
4       42405.7  42437.2  42405.7  42437.1  568.366 2024-01-01 00:04:00
...         ...      ...      ...      ...      ...                 ...
174230  60877.5  60890.2  60810.1  60834.3  130.191 2024-04-30 23:50:00
174231  60834.3  60835.3  60776.5  60791.9  119.424 2024-04-30 23:51:00
174232  60792.0  60822.0  60790.8  60790.8   66.904 2024-04-30 23:52:00
174233  60790.8  60800.0  60759.3  60759.3   77.052 2024-04-30 23:53:00
174234  60759.3  60776.0  60721.1  60731.6  134.499 2024-04-30 23:54:00

[174235 rows x 6 columns]

In [71]:
kdj = ta.kdj(df["High"], df["Low"], df["Close"], length=14)
df[["KDJ_K", "KDJ_D", "KDJ_J"]] = kdj

print(df)
df['trade_point'] = 0

# 金叉
golden_cross_condition = (df['KDJ_K'] > df['KDJ_D']) & (df['KDJ_K'].shift(1) <= df['KDJ_D'].shift(1)) & (df['KDJ_K'] <= 20)
df.loc[golden_cross_condition, 'trade_point'] = 1
# 死叉
death_cross_condition = (df['KDJ_K'] < df['KDJ_D']) & (df['KDJ_K'].shift(1) >= df['KDJ_D'].shift(1)) & (df['KDJ_K'] >= 80)
df.loc[death_cross_condition, 'trade_point'] = -1
print(df)

           Open     High      Low    Close   Volume           open_time  \
0       42314.0  42335.8  42289.6  42331.9  289.641 2024-01-01 00:00:00
1       42331.9  42353.1  42331.8  42350.4  202.444 2024-01-01 00:01:00
2       42350.4  42370.8  42349.6  42360.2  271.521 2024-01-01 00:02:00
3       42360.1  42405.8  42360.1  42405.8  392.238 2024-01-01 00:03:00
4       42405.7  42437.2  42405.7  42437.1  568.366 2024-01-01 00:04:00
...         ...      ...      ...      ...      ...                 ...
174230  60877.5  60890.2  60810.1  60834.3  130.191 2024-04-30 23:50:00
174231  60834.3  60835.3  60776.5  60791.9  119.424 2024-04-30 23:51:00
174232  60792.0  60822.0  60790.8  60790.8   66.904 2024-04-30 23:52:00
174233  60790.8  60800.0  60759.3  60759.3   77.052 2024-04-30 23:53:00
174234  60759.3  60776.0  60721.1  60731.6  134.499 2024-04-30 23:54:00

            KDJ_K      KDJ_D      KDJ_J
0             NaN        NaN        NaN
1             NaN        NaN        NaN
2             NaN        NaN        NaN
3             NaN        NaN        NaN
4             NaN        NaN        NaN
...           ...        ...        ...
174230  84.640620  85.597248  82.727364
174231  77.543017  82.912505  66.804042
174232  72.688774  79.504594  59.057133
174233  65.944426  74.984538  47.864201
174234  58.363218  69.444098  36.201458

[174235 rows x 9 columns]
           Open     High      Low    Close   Volume           open_time  \
0       42314.0  42335.8  42289.6  42331.9  289.641 2024-01-01 00:00:00
1       42331.9  42353.1  42331.8  42350.4  202.444 2024-01-01 00:01:00
2       42350.4  42370.8  42349.6  42360.2  271.521 2024-01-01 00:02:00
3       42360.1  42405.8  42360.1  42405.8  392.238 2024-01-01 00:03:00
4       42405.7  42437.2  42405.7  42437.1  568.366 2024-01-01 00:04:00
...         ...      ...      ...      ...      ...                 ...
174230  60877.5  60890.2  60810.1  60834.3  130.191 2024-04-30 23:50:00
174231  60834.3  60835.3  60776.5  60791.9  119.424 2024-04-30 23:51:00
174232  60792.0  60822.0  60790.8  60790.8   66.904 2024-04-30 23:52:00
174233  60790.8  60800.0  60759.3  60759.3   77.052 2024-04-30 23:53:00
174234  60759.3  60776.0  60721.1  60731.6  134.499 2024-04-30 23:54:00

            KDJ_K      KDJ_D      KDJ_J  trade_point
0             NaN        NaN        NaN            0
1             NaN        NaN        NaN            0
2             NaN        NaN        NaN            0
3             NaN        NaN        NaN            0
4             NaN        NaN        NaN            0
...           ...        ...        ...          ...
174230  84.640620  85.597248  82.727364           -1
174231  77.543017  82.912505  66.804042            0
174232  72.688774  79.504594  59.057133            0
174233  65.944426  74.984538  47.864201            0
174234  58.363218  69.444098  36.201458            0

[174235 rows x 10 columns]

In [72]:
rsi = ta.rsi(df['Close'], length=14)
macd = ta.macd(df['Close'], fastperiod=12, slowperiod=26, signalperiod=9)
df['RSI'] = rsi
df[["MACDline", "MACDsignal", "MACDhist"]] = macd

print(df)

           Open     High      Low    Close   Volume           open_time  \
0       42314.0  42335.8  42289.6  42331.9  289.641 2024-01-01 00:00:00
1       42331.9  42353.1  42331.8  42350.4  202.444 2024-01-01 00:01:00
2       42350.4  42370.8  42349.6  42360.2  271.521 2024-01-01 00:02:00
3       42360.1  42405.8  42360.1  42405.8  392.238 2024-01-01 00:03:00
4       42405.7  42437.2  42405.7  42437.1  568.366 2024-01-01 00:04:00
...         ...      ...      ...      ...      ...                 ...
174230  60877.5  60890.2  60810.1  60834.3  130.191 2024-04-30 23:50:00
174231  60834.3  60835.3  60776.5  60791.9  119.424 2024-04-30 23:51:00
174232  60792.0  60822.0  60790.8  60790.8   66.904 2024-04-30 23:52:00
174233  60790.8  60800.0  60759.3  60759.3   77.052 2024-04-30 23:53:00
174234  60759.3  60776.0  60721.1  60731.6  134.499 2024-04-30 23:54:00

            KDJ_K      KDJ_D      KDJ_J  trade_point        RSI   MACDline  \
0             NaN        NaN        NaN            0        NaN        NaN
1             NaN        NaN        NaN            0        NaN        NaN
2             NaN        NaN        NaN            0        NaN        NaN
3             NaN        NaN        NaN            0        NaN        NaN
4             NaN        NaN        NaN            0        NaN        NaN
...           ...        ...        ...          ...        ...        ...
174230  84.640620  85.597248  82.727364           -1  64.962340  69.813534
174231  77.543017  82.912505  66.804042            0  59.928278  67.463087
174232  72.688774  79.504594  59.057133            0  59.798811  64.765010
174233  65.944426  74.984538  47.864201            0  56.063619  59.400249
174234  58.363218  69.444098  36.201458            0  52.932520  52.310476

        MACDsignal   MACDhist
0              NaN        NaN
1              NaN        NaN
2              NaN        NaN
3              NaN        NaN
4              NaN        NaN
...            ...        ...
174230   16.978819  52.834714
174231   11.702699  55.760389
174232    7.203697  57.561313
174233    1.471149  57.929100
174234   -4.494900  56.805375

[174235 rows x 14 columns]

In [73]:
sma10 = ta.sma(df['Close'], length=10)
df['sma_10'] = sma10
sma20 = ta.sma(df['Close'], length=20)
df['sma_20'] = sma20
# 打印结果查看SMA列
print(df)
df['trade_signal'] = 0

# 金叉条件：10日SMA上穿20日SMA
golden_cross_condition = (df['sma_10'] > df['sma_20']) & (df['sma_10'].shift(1) <= df['sma_20'].shift(1))
df.loc[golden_cross_condition, 'trade_signal'] = 1  # 买入信号

# 死叉条件：10日SMA下穿20日SMA
death_cross_condition = (df['sma_10'] < df['sma_20']) & (df['sma_10'].shift(1) >= df['sma_20'].shift(1))
df.loc[death_cross_condition, 'trade_signal'] = -1  # 卖出信号

print(df)

           Open     High      Low    Close   Volume           open_time  \
0       42314.0  42335.8  42289.6  42331.9  289.641 2024-01-01 00:00:00
1       42331.9  42353.1  42331.8  42350.4  202.444 2024-01-01 00:01:00
2       42350.4  42370.8  42349.6  42360.2  271.521 2024-01-01 00:02:00
3       42360.1  42405.8  42360.1  42405.8  392.238 2024-01-01 00:03:00
4       42405.7  42437.2  42405.7  42437.1  568.366 2024-01-01 00:04:00
...         ...      ...      ...      ...      ...                 ...
174230  60877.5  60890.2  60810.1  60834.3  130.191 2024-04-30 23:50:00
174231  60834.3  60835.3  60776.5  60791.9  119.424 2024-04-30 23:51:00
174232  60792.0  60822.0  60790.8  60790.8   66.904 2024-04-30 23:52:00
174233  60790.8  60800.0  60759.3  60759.3   77.052 2024-04-30 23:53:00
174234  60759.3  60776.0  60721.1  60731.6  134.499 2024-04-30 23:54:00

            KDJ_K      KDJ_D      KDJ_J  trade_point        RSI   MACDline  \
0             NaN        NaN        NaN            0        NaN        NaN
1             NaN        NaN        NaN            0        NaN        NaN
2             NaN        NaN        NaN            0        NaN        NaN
3             NaN        NaN        NaN            0        NaN        NaN
4             NaN        NaN        NaN            0        NaN        NaN
...           ...        ...        ...          ...        ...        ...
174230  84.640620  85.597248  82.727364           -1  64.962340  69.813534
174231  77.543017  82.912505  66.804042            0  59.928278  67.463087
174232  72.688774  79.504594  59.057133            0  59.798811  64.765010
174233  65.944426  74.984538  47.864201            0  56.063619  59.400249
174234  58.363218  69.444098  36.201458            0  52.932520  52.310476

        MACDsignal   MACDhist    sma_10     sma_20
0              NaN        NaN       NaN        NaN
1              NaN        NaN       NaN        NaN
2              NaN        NaN       NaN        NaN
3              NaN        NaN       NaN        NaN
4              NaN        NaN       NaN        NaN
...            ...        ...       ...        ...
174230   16.978819  52.834714  60751.62  60696.385
174231   11.702699  55.760389  60760.28  60706.010
174232    7.203697  57.561313  60773.12  60713.435
174233    1.471149  57.929100  60787.02  60719.900
174234   -4.494900  56.805375  60795.18  60723.975

[174235 rows x 16 columns]
           Open     High      Low    Close   Volume           open_time  \
0       42314.0  42335.8  42289.6  42331.9  289.641 2024-01-01 00:00:00
1       42331.9  42353.1  42331.8  42350.4  202.444 2024-01-01 00:01:00
2       42350.4  42370.8  42349.6  42360.2  271.521 2024-01-01 00:02:00
3       42360.1  42405.8  42360.1  42405.8  392.238 2024-01-01 00:03:00
4       42405.7  42437.2  42405.7  42437.1  568.366 2024-01-01 00:04:00
...         ...      ...      ...      ...      ...                 ...
174230  60877.5  60890.2  60810.1  60834.3  130.191 2024-04-30 23:50:00
174231  60834.3  60835.3  60776.5  60791.9  119.424 2024-04-30 23:51:00
174232  60792.0  60822.0  60790.8  60790.8   66.904 2024-04-30 23:52:00
174233  60790.8  60800.0  60759.3  60759.3   77.052 2024-04-30 23:53:00
174234  60759.3  60776.0  60721.1  60731.6  134.499 2024-04-30 23:54:00

            KDJ_K      KDJ_D      KDJ_J  trade_point        RSI   MACDline  \
0             NaN        NaN        NaN            0        NaN        NaN
1             NaN        NaN        NaN            0        NaN        NaN
2             NaN        NaN        NaN            0        NaN        NaN
3             NaN        NaN        NaN            0        NaN        NaN
4             NaN        NaN        NaN            0        NaN        NaN
...           ...        ...        ...          ...        ...        ...
174230  84.640620  85.597248  82.727364           -1  64.962340  69.813534
174231  77.543017  82.912505  66.804042            0  59.928278  67.463087
174232  72.688774  79.504594  59.057133            0  59.798811  64.765010
174233  65.944426  74.984538  47.864201            0  56.063619  59.400249
174234  58.363218  69.444098  36.201458            0  52.932520  52.310476

        MACDsignal   MACDhist    sma_10     sma_20  trade_signal
0              NaN        NaN       NaN        NaN             0
1              NaN        NaN       NaN        NaN             0
2              NaN        NaN       NaN        NaN             0
3              NaN        NaN       NaN        NaN             0
4              NaN        NaN       NaN        NaN             0
...            ...        ...       ...        ...           ...
174230   16.978819  52.834714  60751.62  60696.385             0
174231   11.702699  55.760389  60760.28  60706.010             0
174232    7.203697  57.561313  60773.12  60713.435             0
174233    1.471149  57.929100  60787.02  60719.900             0
174234   -4.494900  56.805375  60795.18  60723.975             0

[174235 rows x 17 columns]

In [74]:
# 计算布林带
bbands = df.ta.bbands(length=14, std=2, append=True)  

df['BB_H'] = df['BBU_14_2.0']  
df['BB_M'] = df['BBM_14_2.0']  
df['BB_L'] = df['BBL_14_2.0']  
df.drop(['BBU_14_2.0', 'BBM_14_2.0', 'BBL_14_2.0'], axis=1, inplace=True)

df['bbands_signal'] = 0

# # 交易信号条件
# # 上穿布林带上轨买入信号
buy_condition = (df['Close'] > df['BB_H'])
df.loc[buy_condition, 'bbands_signal'] = 1

# 下穿布林带下轨卖出信号
sell_condition = (df['Close'] < df['BB_L'])
df.loc[sell_condition, 'bbands_signal'] = -1

# # 打印结果查看交易信号
# print(df)

In [75]:

df.to_csv("talib.csv", index=False)